<a href="https://www.shopvote.de/bewertung_oldskulleurope_com_17227.html" target="_blank">
  <img
    src="https://widgets.shopvote.de/view.php?shopid=17227&bn=51&lang=de"
    id="svimage-51"
    alt="Shopbewertung - oldskulleurope.com"
    border="0"
    align="bottom"
    hspace="1"
  >
</a>

<style>
  @media (min-width: 768px) {
    .section-footer__shopvote {
      text-align: center;
    }
  }
</style>
