.cart-savings--prominent {
  color: #c40000 !important; /* Using !important to increase specificity if needed */
  font-weight: bold;
}

.variant-sale-indicator {
  color: #c40000;
  font-weight: bold;
  margin-left: auto;
}

/* Hide color variant selector because of new related variant selector */
fieldset.option-selector[data-option="color"] {
  display: none;
}

.logo-area {
  border-bottom: none;
}

/* Newsletter section */
.signup-form__button[disabled] {
  background-color: grey;
  border-color: lightgrey;
  cursor: not-allowed;
}

.signup-form__terms-container {
  margin-top: 1rem;
  font-size: 0.8571rem;
}

.signup-form__terms-label {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.signup-form__terms-error {
  color: red;
}
